<div class="-row">
  <div class="card col-lg-6" style="float:none;margin:auto;">
    <p class="text-center">Registrarse</p>
    <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dni">Rut <span style="font-size: 12px;">(sin digito verificador ni guión)</span></label>
        <input type="text" class="form-control" formControlName="dni" name="dni" id="dni"/>
        <div style='color:#de7c61'
             *ngIf="registerForm.get('dni').hasError('required') && registerForm.get('dni').touched">
          Rut es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" name="email" id="email"/>
        <div style='color:#de7c61'
             *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
          Email es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="names">Nombres</label>
        <input type="names" class="form-control" formControlName="names" name="names" id="names"/>
        <div style='color:#de7c61'
             *ngIf="registerForm.get('names').hasError('required') && registerForm.get('names').touched">
          Nombres son requeridos
        </div>
      </div>
      <div class="form-group">
        <label for="surnames">Apellidos</label>
        <input type="surnames" class="form-control" formControlName="surnames" name="surnames" id="surnames"/>
        <div style='color:#de7c61'
             *ngIf="registerForm.get('surnames').hasError('required') && registerForm.get('surnames').touched">
          Apellidos son requeridos
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" formControlName="password" name="password" id="password"/>
        <div style='color:#de7c61'
             *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
          Contraseña es requerida
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_password">Repita contraseña</label>
        <input type="password" class="form-control" formControlName="confirm_password" name="confirm_password"
               id="confirm_password"/>
        <div style='color:#de7c61'
             *ngIf="registerForm.get('confirm_password').hasError('required') && registerForm.get('confirm_password').touched">
          Debe repetir contraseña
        </div>
        <div style='color:#fa0e07' *ngIf="registerForm.get('password').value != registerForm.get('confirm_password').value
          && registerForm.get('confirm_password').value != null">
          Contraseña no coinciden
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="isLoading || !registerForm.valid" class="btn btn-sm btn-success">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Registrarse
        </button>
        <a [routerLink]="'/login'" class="btn btn-sm btn-link">Volver</a>
      </div>
      <app-toast *ngIf="message" [message]="message" [class]="class"></app-toast>
    </form>
  </div>
</div>
