<div class="modal-header">
  <h4 class="modal-title">Nueva transaccion</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">
          <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
            <ng-template ngFor let-transactionType let-i="index" [ngForOf]="transactionTypes">
              <li class="nav-item" (click)="selectedType = transactionType.name; alert.message = ''">
                <a data-toggle="pill" class="nav-link rounded-pill pointer"
                   [class.active]="transactionType.name == selectedType">
                  <i class="fa fa-credit-card"></i>
                  {{transactionType.label}}
                </a>
              </li>
            </ng-template>
          </ul>
          <div class="tab-content">
            <div id="nav-tab-card" class="tab-pane fade show active">
              <form role="form" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="amount">Monto</label>
                  <input formControlName="amount" type="text" name="amount" class="form-control" id="amount"
                         [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                  <div *ngIf="transactionForm.get('amount').hasError('required') && transactionForm.get('amount').touched">Es requerido el monto</div>
                </div>
                <div class="form-group" *ngIf="selectedType == 'TRANSFERENCIA_A_TERCEROS'">
                  <label for="dniDestiny">Rut destino</label>

                    <input formControlName="dniDestiny" type="text" name="dniDestiny" class="form-control"
                           id="dniDestiny">
                    <div *ngIf="transactionForm.get('dniDestiny').hasError('required') && transactionForm.get('dniDestiny').touched">Es requerido el rut destino

                  </div>
                </div>
                <p class="alert alert-{{alert.style}}" *ngIf="alert.message.length > 0">{{alert.message}}</p>
                <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"
                        [disabled]="transactionForm.get('amount').hasError('required')
                                  || transactionForm.get('dniDestiny').hasError('required') || loading"
                        *ngIf="selectedType == 'TRANSFERENCIA_A_TERCEROS'"> Aceptar
                </button>
                <button *ngIf="selectedType !== 'TRANSFERENCIA_A_TERCEROS'" type="submit"
                        class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"
                        [disabled]="transactionForm.get('amount').hasError('required') || loading"
                > <i *ngIf="loading" class="fa fa-spinner"></i>Aceptar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>

