<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Transacciones</h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripcion</th>
          <th>Cargo</th>
          <th>Abono</th>
          <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-transaction [ngForOf]="transactions | paginate:{itemsPerPage: 5, currentPage:p}">
          <tr>
            <td>{{transaction.createdAt | date: 'short'}}</td>
            <td>{{transaction.description}}</td>
            <td
              *ngIf="(transaction.transactionTypeDto.name == 'RETIRO_SALDO' || transaction.transactionTypeDto.name == 'TRANSFERENCIA_A_TERCEROS');else noAmount">
              {{transaction.amount}}
            </td>
            <td
              *ngIf="(transaction.transactionTypeDto.name == 'CARGA_SALDO' || transaction.transactionTypeDto.name == 'TRANSFERENCIA_DE_TERCEROS');else noAmount">
              {{transaction.amount}}
            </td>
            <td>{{transaction.historicalBalance}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
        <div class="row">
          <div id="pagination">
            <pagination-controls (pageChange)="p=$event" [nextLabel]="'Siguiente'" [previousLabel]="'Anterior'"></pagination-controls>
          </div>
        </div>
    </div>
  </div>
</div>
<ng-template #noAmount>
  <td></td>
</ng-template>
