<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Transacciones</h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <!--  <th>ID</th>-->
          <th>Fecha</th>
          <th>Descripcion</th>
          <!-- <th>Monto</th>-->
          <th>Cargo</th>
          <th>Abono</th>
          <!-- <th>Tipo transaccion</th>-->
          <th>Saldo</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-transaction [ngForOf]="transactions">
          <tr>
            <!--<td>{{transaction.id}}</td>-->
            <td>{{transaction.createdAt | date: 'short'}}</td>
            <td>{{transaction.description}}</td>
            <td
              *ngIf="(transaction.transactionTypeDto.name == 'RETIRO_SALDO' || transaction.transactionTypeDto.name == 'TRANSFERENCIA_A_TERCEROS');else noAmount">
              {{transaction.amount}}
            </td>
            <td
              *ngIf="(transaction.transactionTypeDto.name == 'CARGA_SALDO' || transaction.transactionTypeDto.name == 'TRANSFERENCIA_DE_TERCEROS');else noAmount">
              {{transaction.amount}}
            </td>

            <!--  <td>{{transaction.transactionTypeDto.name}}</td>-->
            <td>{{transaction.historicalBalance}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#">Previous</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #noAmount>
  <td></td>
</ng-template>
