<div class="-row">
  <div class="card col-lg-6" style="float:none;margin:auto;">
    <p class="text-center">Login</p>
    <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dni">Rut <span style="font-size: 12px;">(sin digito verificador ni guión)</span></label>
        <input type="text" class="form-control" formControlName="dni"  name="dni" id="dni" [required]="true"/>
        <div style='color:#de7c61'
             *ngIf="loginForm.get('dni').hasError('required') && loginForm.get('dni').touched">
          Rut es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" formControlName="password" name="password" id="password"/>
        <div style='color:#de7c61'
             *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          Contraseña es requerida
        </div>
      </div>
      <div class="form-group">
        <div class="buttons">
          <button [disabled]="isLoading || !loginForm.valid" class="btn btn-sm btn-success" type="submit" style="margin: 0 5px;">
            <span *ngIf="isLoading" class="action_btn spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
          <button class="btn btn-sm btn-primary" [routerLink]="['/register']" [disabled]="isLoading">
            Registrarse
          </button>
        </div>
      </div>
      <app-toast *ngIf="message" [message]="message" [class]="class"></app-toast>
    </form>
  </div>
</div>
